.login h1 a{
    background-image: url(../../images/login_logo.png) !important;
    background-image: none,url(../../images/login_logo.png) !important;
    -webkit-background-size: 285px 54px;
    background-size: 285px 54px;
    background-position: center top;
    background-repeat: no-repeat;
    color: #999;
    height: 54px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3em;
    margin: 0 auto 25px;
    padding: 0;
    text-decoration: none;
    width: 285px;
    text-indent: -9999px;
    outline: 0;
    overflow: hidden;
    display: block;
}
body{
    background-image:url('../../images/billie_holiday.png');
}